.listing-information{
    max-width: 700px;
}

.listing-header{
    background-color: rgb(64, 105, 153);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.listing-details{
    background-color: rgb(255, 255, 255);
}