.filter-container{
    background-color: rgb(175, 198, 218);
    max-width: 240px;
    width: 100%;
    height: 100%;
    padding-top: 1.5rem;
}

.form-filters {
    position: relative;
    padding: 15px;
}